
#main-wrapper {
  position: fixed;
  left: 50%;
  width: 1024px;
  height: 768px;
  margin-left: -512px;
  top: 8px;
  background-color: #339;
}

#header {
  position: absolute;
  width: 1000px;
  left: 12px;
  top: 3px;
  height: 54px;
  margin: 4px auto;
  background-color: #992;
  text-align: center;
}

#header h1 {
  margin: 12px;
}

#lists {
  position: absolute;
  height: 420px;
  width: 1000px;
  top: 66px;
  left: 12px;
  background-color: #343;
}

#your-heroes {
  position: absolute;
  height: 416px;
  width: 398px;
  top: 2px;
  left: 0px;
  background-color: #999;
  text-align: center;
}

#available-games {
  position: absolute;
  height: 416px;
  width: 596px;
  background-color: #bbb;
  top: 2px;
  left: 404px;
  text-align: center;
}

#chat {
  position: absolute;
  height: 266px;
  width: 1000px;
  background-color: red;
  top: 490px;
  left: 12px;
}

#chat-table {
  position: absolute;
  height: 230px;
  width: 996px;
  top: 2px;
  left: 2px;
}

#chat-entry {
  position: absolute;
  height: 36px;
  width: 996px;
  top: 234px;
  left: 2px;
}

#chat-input {
  position: absolute;
  left: 4px;
}
#chat-send {
  position: absolute;
  left: 940px;
  top: 0px;
}

